th,
  td {
    border: 1px solid black;
    width:auto;
    
  }
  th, tr, td{
    width: 1%;
    white-space: nowrap;
  }
  .remove{
    border: 0px;
  }
  .circle {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    
  }
  
  .invalid {
    color: red;
  
  }
  
  td {
    text-align: center;
    
  }

  td.circle {
    align-self: center;

  }
  
  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }