.split {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 75vw;
  margin: 0;
}

.left,
.right {
  flex: 1;
  margin: 10px;
}


th,
td {
  border: 1px solid black;
  width:auto;
}
th, tr, td{
  width: 1%;
  white-space: nowrap;
}

#removeButton{
  border: 0px;
  
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;

.invalid {
  color: red;


td {
  text-align: center;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
